/* TABS on bottom */
/* Shifts tabs to bottom on bottom */
#titlebar {
  -moz-box-ordinal-group: 100 !important;
}

/* space for menubar above navigation toolbar (Firefox titlebar) */
#main-window[tabsintitlebar]:not([sizemode="fullscreen"]) #nav-bar {
  margin-top: 28px !important; 
}
#main-window[tabsintitlebar][sizemode="maximized"]:not([sizemode="fullscreen"]) 
#nav-bar {
  margin-top: 28px !important;
}

/* add 'drag' feature to space above navigation toolbar */
#main-window[tabsintitlebar] #navigator-toolbox,
#main-window[tabsintitlebar] #nav-bar {
  -moz-window-dragging: drag !important;
}
 /* space for menubar END */ 

/*  Move Window Buttons*/
/* move menubars / tab toolbars caption buttons to windows top right position */
#main-window[tabsintitlebar]:not([inDOMFullscreen="true"]) .titlebar-buttonbox-container {
  position: fixed !important;
  left: 0 !important;
  visibility: visible !important;
  display: block !important;
}
#main-window[tabsintitlebar]:not([inDOMFullscreen="true"]) .titlebar-buttonbox-container,
#main-window[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen="true"]) .titlebar-buttonbox-container 
{
  top: 0.5em !important;
}
/*  Move Window Buttons END*/

/* Shifts tabs to the left */
#TabsToolbar .private-browsing-indicator,
#TabsToolbar #window-controls,
#TabsToolbar *[type="caption-buttons"],
#TabsToolbar *[type="pre-tabs"],
#TabsToolbar *[type="post-tabs"] {
  display: none !important;
}
/* Shifts tabs to the left END */
/*                TABS on bottom END                */


@media (prefers-color-scheme: Dark) {
    :root { }
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Firefox userChrome.css */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#personal-bookmarks menu {
  -moz-appearance: none !important;
  fill: white !important;
  color: white !important;
  background-color: #2a2a2e !important;
}
#personal-bookmarks menu:hover {
  -moz-appearance: none !important;
  fill: white !important;
  color: white !important;
  background-color: dodgerblue !important;
}
#personal-bookmarks menuitem {
  -moz-appearance: none !important;
  color: white !important;
  background-color: #2a2a2e !important;
}
#personal-bookmarks menuitem:hover {
  -moz-appearance: none !important;
  color: white !important;
  background-color: dodgerblue !important;
}
#personal-bookmarks menuseparator {
  -moz-appearance: none !important;
  background-color: white !important;
}



#personal-bookmarks menupopup {
  -moz-appearance: none !important;
  background-color: #2a2a2e !important;
}
 
}


/*-----------If Darkmode is enabled by system library Window Darkmode-----------*/

@media (prefers-color-scheme: Dark) {
:root {
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;
    --code-green: #86de74 !important;
    --warning-color: #FCE19F;
    --warning-background-color: #44391F;
    --theme-highlight-green: #86DE74;
    --theme-highlight-blue: #75BFFF;
    --theme-highlight-purple: #B98EFF;
    --theme-highlight-red: #FF7DE9;
    --theme-highlight-yellow: #FFF89E;
    --theme-highlight-bluegrey: #5e88b0;
    --theme-highlight-lightorange: #d99b28;
    --theme-highlight-orange: #d96629;
    --theme-highlight-pink: #df80ff;
    --tone-1: var(--grey-10);
    --tone-2: var(--grey-20);
    --tone-3: var(--grey-30);
    --tone-4: var(--grey-40);
    --tone-5: var(--grey-50);
    --tone-6: var(--grey-60);
    --tone-7: var(--grey-70);
    --tone-8: var(--grey-80);
    --tone-9: var(--grey-90);
    --accent-1: var(--blue-40);
    --accent-2: var(--blue-50);
    --accent-3: var(--blue-60);
    --in-content-page-color: var(--tone-1) !important;
    --in-content-page-background: var(--tone-8) !important;
    --in-content-text-color: var(--tone-1) !important;
    --in-content-selected-text: var(--tone-1) !important;
    --in-content-box-background: var(--tone-7) !important;
    --in-content-box-background-odd: #f3f6fa;
    --in-content-box-background-hover: var(--tone-9) !important;
    --in-content-box-background-active: var(--tone-8) !important;
    --in-content-box-border-color: var(--tone-5) !important;
    --in-content-item-hover: rgba(0, 149, 221, 0.25);
    --in-content-item-selected: var(--tone-7) !important;
    --in-content-border-highlight: var(--accent-1) !important;
    --in-content-border-focus: var(--accent-1) !important;
    --in-content-border-color: var(--tone-9) !important;
    --in-content-category-outline-focus: 1px dotted #0a84ff;
    --in-content-category-text: var(--tone-1) !important;
    --in-content-category-text-active: white !important;
    --in-content-category-text-selected: var(--accent-5) !important;
    --in-content-category-text-selected-active: dodgerblue;
    --in-content-category-background-hover: dodgerblue; /*rgba(12, 12, 13, 0.1);*/
    --in-content-category-background-active: dodgerblue; /* rgba(12, 12, 13, 0.15);*/
    --in-content-category-background-selected-hover: dodgerblue; /*rgba(12, 12, 13, 0.15);*/
    --in-content-category-background-selected-active: dodgerblue; /*rgba(12, 12, 13, 0.2);*/
    --in-content-tab-color: #424f5a;
    --in-content-link-color: var(--accent-1) !important;
    --in-content-link-color-hover: dodgerblue !important; /*var(--accent-2) !important;*/
    --in-content-link-color-active: #003eaa;
    --in-content-link-color-visited: #0a8dff;
    --in-content-primary-button-background: var(--accent-2) !important;
    --in-content-primary-button-background-hover: var(--accent-3) !important;
    --in-content-primary-button-background-active: var(--accent-3) !important;
    --in-content-table-border-dark-color: var(--tone-8) !important;
    --in-content-table-header-background: var(--accent-1) !important;
    --theme-selection-background: dodgerblue !important; /*var(--accent-1) !important;*/
    --theme-selection-background-hover: var(--accent-1) !important;
    --in-content-category-header-background: var(--tone-8) !important;
    --selected-icon-fill-color: var(--tone-1) !important;
    --in-content-dark-header-background: var(--tone-9) !important;
    --secure-connection-color: var(--accent-1) !important;
    --theme-sidebar-background: #1f1f1f !important;
    --cm-background: var(--tone-9) !important;
    --cm-selection: #cfcfcf !important;
    --cm-marker: #555 !important;
    --cm-linenumber: #58575c !important;
    --cm-cursor: #fff !important;
    --cm-active-line-background: rgba(185, 215, 253, .15) !important;
    --cm-matching-bracket: rgb(255, 255, 255) !important;
    --cm-search-background: rgba(24, 29, 32, 1) !important;
    --cm-red: red !important;
    --start-indicator-for-updater-scripts: black !important;
    --end-indicator-for-updater-scripts: black !important;
    --dummy-variable-for-updater-scripts: black !important;
}
/*Library toolbar color*/ 

/*Library toolbar color*/
@-moz-document url(chrome://browser/content/places/places.xhtml) {
    toolbar {
        -moz-appearance: none !important;
        background-color: var(--in-content-category-header-background) !important;
        border: none !important;
    }
/*End Library toolbar color*/


  /*Search box color*/
#search-box,
#searchFilter,
input:not(#urlbar-input){
  -moz-appearance:none !important;
        background-color: var(--in-content-box-background) !important;
  padding: 2px !important;
  color: white !important;
  border: 1px solid grey;
}
  /*End Search box color*/

    #editBMPanel_rows>row>hbox>textbox, #editBMPanel_rows>row>textbox, #editBMPanel_tagsSelector {
        background: var(--in-content-box-background) !important;
    }
  
   /*Library Button color*/
     #placesToolbar>toolbarbutton {
        margin: 6px 4px 5px !important;
        -moz-appearance: none !important;
        background-color: var(--tone-4) !important;
        border-radius: 5px !important;
        filter: invert(100%) !important;
    }
     /*End Library Button color*/
    
    
     /*Left library Pannel color*/
     #placesList {
        -moz-appearance: none !important;
        color: var(--in-content-page-color) !important;
        background-color: var(--in-content-page-background) !important;
    }    
  #placesView>splitter {
        border-color: var(--in-content-border-color) !important;
    }
      /*End Left library Pannel color*/    
    
           /*Downloads library color*/
   #places #downloadsRichListBox {
        -moz-appearance: none !important;
        color: var(--in-content-page-color) !important;
        background-color: var(--in-content-box-background) !important;
    }
       /*End Downloads library color*/  
  
        /*History details toolbar color*/
   #detailsDeck {
        border: none !important;
        background-color: var(--in-content-page-background) !important;
        color: var(--in-content-page-color) !important;
    }
   /*End History details toolbar color*/
  
     
  /*History details expander arrow color*/
  .expander-down, .expander-up {
        filter: invert(77%) !important;
       
  }
  /*End History details expander arrow color*/
    
 #placesView,
#placesView .scrollbox-innerbox
{
  -moz-appearance: none !important;
  background-color: #2a2a2e !important;
  color: var(--in-content-page-color)  !important;
}

  
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text() {
        color: var(--in-content-text-color) !important;
    }
    #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected), #placesList>treechildren::-moz-tree-row(selected) {
        -moz-appearance: none !important;
        -moz-font-smoothing-background-color: none !important;
        border-top: none !important;
         background:dodgerblue !important; /*var(--theme-selection-background) !important;*/
        color: var(--in-content-text-color) !important;
    }
    #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected), #placesList>treechildren::-moz-tree-cell-text(selected) {
        color: var(--in-content-text-color) !important;
    }
    #places treechildren::-moz-tree-row {
        background-color: transparent !important;
    }
    #places treechildren::-moz-tree-image {
        fill: var(--in-content-page-color) !important;
    }
    #places treechildren::-moz-tree-image(selected) {
        fill: var(--selected-icon-fill-color) !important;
    }
    #placeContent>treechildren::-moz-tree-cell, #placeContent>treechildren::-moz-tree-column {
        border-color: var(--in-content-box-border-color) !important;
    }
    #contentView treecol {
        -moz-appearance: none !important;
        border: none !important;
        background: var(--in-content-category-header-background) !important;
        color: var(--in-content-text-color) !important;
        border-right: 1px solid !important;
        border-color: var(--in-content-box-border-color) !important;
    } 
tree {
        background-color: var(--in-content-box-background) !important;
    }
    #editBMPanel_tagsSelectorExpander.expander-down {
        -moz-appearance: -moz-mac-disclosure-button-closed !important;
        filter: invert(79%) !important;
    }
    #editBMPanel_tagsSelectorExpander.expander-up {
        -moz-appearance: -moz-mac-disclosure-button-open !important;
        filter: invert(79%) !important;
    }
    #main-menubar {
        background-color: var(--in-content-category-header-background) !important;
    }
    #main-menubar>* {
        color: var(--in-content-page-color) !important;
    }
    #main-menubar> :hover, menubar>menu[_moz-menuactive=true][open=true] {
        -moz-appearance: none !important;
        background: var(--in-content-page-background) !important;
    }
    @media screen and (-moz-windows-theme), screen and (-moz-windows-classic), screen and (-moz-windows-default-theme), screen and (-moz-os-version:windows-win7), screen and (-moz-os-version:windows-win8), screen and (-moz-os-version:windows-win10) {
        #metaTagsCaption, #security-identity, #security-identity-groupbox, #security-privacy, #security-privacy-groupbox, #security-technical, #security-technical-groupbox {
            -moz-appearance: none !important;
            background-color: var(--in-content-page-background) !important;
            border: none !important;
            color: var(--in-content-selected-text) !important;
        }
        #placesMenu>menu {
            color: var(--in-content-page-color) !important;
        }
        #security-identity-groupbox, #security-privacy-groupbox, #security-technical-groupbox {
            -moz-appearance: none !important;
            background-color: var(--in-content-category-header-background) !important;
        }
        #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover):not(.autocomplete-treebody)::-moz-tree-cell-text(selected) {
            background: 0 0 !important;
            -moz-border-top-colors: transparent !important;
            -moz-border-right-colors: transparent !important;
            -moz-border-left-colors: transparent !important;
            -moz-border-bottom-colors: transparent !important;
        }
    }
    @media screen and (-moz-os-version:windows-win7) {
        treechildren {
            --treechildren-outline: none !important;
        }
    }
}    
}
/*-----------Darkmode library Window End -----------*/
 
/*-----------If Darkmode is enabled by system library Window Darkmode-----------*/

@media (prefers-color-scheme: Dark) {
:root {
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;
    --code-green: #86de74 !important;
    --warning-color: #FCE19F;
    --warning-background-color: #44391F;
    --theme-highlight-green: #86DE74;
    --theme-highlight-blue: #75BFFF;
    --theme-highlight-purple: #B98EFF;
    --theme-highlight-red: #FF7DE9;
    --theme-highlight-yellow: #FFF89E;
    --theme-highlight-bluegrey: #5e88b0;
    --theme-highlight-lightorange: #d99b28;
    --theme-highlight-orange: #d96629;
    --theme-highlight-pink: #df80ff;
    --tone-1: var(--grey-10);
    --tone-2: var(--grey-20);
    --tone-3: var(--grey-30);
    --tone-4: var(--grey-40);
    --tone-5: var(--grey-50);
    --tone-6: var(--grey-60);
    --tone-7: var(--grey-70);
    --tone-8: var(--grey-80);
    --tone-9: var(--grey-90);
    --accent-1: var(--blue-40);
    --accent-2: var(--blue-50);
    --accent-3: var(--blue-60);
    --in-content-page-color: var(--tone-1) !important;
    --in-content-page-background: var(--tone-8) !important;
    --in-content-text-color: var(--tone-1) !important;
    --in-content-selected-text: var(--tone-1) !important;
    --in-content-box-background: var(--tone-7) !important;
    --in-content-box-background-odd: #f3f6fa;
    --in-content-box-background-hover: var(--tone-9) !important;
    --in-content-box-background-active: var(--tone-8) !important;
    --in-content-box-border-color: var(--tone-5) !important;
    --in-content-item-hover: rgba(0, 149, 221, 0.25);
    --in-content-item-selected: var(--tone-7) !important;
    --in-content-border-highlight: var(--accent-1) !important;
    --in-content-border-focus: var(--accent-1) !important;
    --in-content-border-color: var(--tone-9) !important;
    --in-content-category-outline-focus: 1px dotted #0a84ff;
    --in-content-category-text: var(--tone-1) !important;
    --in-content-category-text-active: white !important;
    --in-content-category-text-selected: var(--accent-5) !important;
    --in-content-category-text-selected-active: dodgerblue;
    --in-content-category-background-hover: dodgerblue; /*rgba(12, 12, 13, 0.1);*/
    --in-content-category-background-active: dodgerblue; /* rgba(12, 12, 13, 0.15);*/
    --in-content-category-background-selected-hover: dodgerblue; /*rgba(12, 12, 13, 0.15);*/
    --in-content-category-background-selected-active: dodgerblue; /*rgba(12, 12, 13, 0.2);*/
    --in-content-tab-color: #424f5a;
    --in-content-link-color: var(--accent-1) !important;
    --in-content-link-color-hover: dodgerblue !important; /*var(--accent-2) !important;*/
    --in-content-link-color-active: #003eaa;
    --in-content-link-color-visited: #0a8dff;
    --in-content-primary-button-background: var(--accent-2) !important;
    --in-content-primary-button-background-hover: var(--accent-3) !important;
    --in-content-primary-button-background-active: var(--accent-3) !important;
    --in-content-table-border-dark-color: var(--tone-8) !important;
    --in-content-table-header-background: var(--accent-1) !important;
    --theme-selection-background: dodgerblue !important; /*var(--accent-1) !important;*/
    --theme-selection-background-hover: var(--accent-1) !important;
    --in-content-category-header-background: var(--tone-8) !important;
    --selected-icon-fill-color: var(--tone-1) !important;
    --in-content-dark-header-background: var(--tone-9) !important;
    --secure-connection-color: var(--accent-1) !important;
    --theme-sidebar-background: #1f1f1f !important;
    --cm-background: var(--tone-9) !important;
    --cm-selection: #cfcfcf !important;
    --cm-marker: #555 !important;
    --cm-linenumber: #58575c !important;
    --cm-cursor: #fff !important;
    --cm-active-line-background: rgba(185, 215, 253, .15) !important;
    --cm-matching-bracket: rgb(255, 255, 255) !important;
    --cm-search-background: rgba(24, 29, 32, 1) !important;
    --cm-red: red !important;
    --start-indicator-for-updater-scripts: black !important;
    --end-indicator-for-updater-scripts: black !important;
    --dummy-variable-for-updater-scripts: black !important;
}
/*Library toolbar color*/ 

/*Library toolbar color*/
@-moz-document url(chrome://browser/content/places/places.xhtml) {
    toolbar {
        -moz-appearance: none !important;
        background-color: var(--in-content-category-header-background) !important;
        border: none !important;
    }
/*End Library toolbar color*/


  /*Search box color*/
#search-box,
#searchFilter,
input:not(#urlbar-input){
  -moz-appearance:none !important;
        background-color: var(--in-content-box-background) !important;
  padding: 2px !important;
  color: white !important;
  border: 1px solid grey;
}
  /*End Search box color*/

    #editBMPanel_rows>row>hbox>textbox, #editBMPanel_rows>row>textbox, #editBMPanel_tagsSelector {
        background: var(--in-content-box-background) !important;
    }
  
   /*Library Button color*/
     #placesToolbar>toolbarbutton {
        margin: 6px 4px 5px !important;
        -moz-appearance: none !important;
        background-color: var(--tone-4) !important;
        border-radius: 5px !important;
        filter: invert(100%) !important;
    }
     /*End Library Button color*/
    
    
     /*Left library Pannel color*/
     #placesList {
        -moz-appearance: none !important;
        color: var(--in-content-page-color) !important;
        background-color: var(--in-content-page-background) !important;
    }    
  #placesView>splitter {
        border-color: var(--in-content-border-color) !important;
    }
      /*End Left library Pannel color*/    
    
           /*Downloads library color*/
   #places #downloadsRichListBox {
        -moz-appearance: none !important;
        color: var(--in-content-page-color) !important;
        background-color: var(--in-content-box-background) !important;
    }
       /*End Downloads library color*/  
  
        /*History details toolbar color*/
   #detailsDeck {
        border: none !important;
        background-color: var(--in-content-page-background) !important;
        color: var(--in-content-page-color) !important;
    }
   /*End History details toolbar color*/
  
     
  /*History details expander arrow color*/
  .expander-down, .expander-up {
        filter: invert(77%) !important;
       
  }
  /*End History details expander arrow color*/
    
 #placesView,
#placesView .scrollbox-innerbox
{
  -moz-appearance: none !important;
  background-color: #2a2a2e !important;
  color: var(--in-content-page-color)  !important;
}

  
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text() {
        color: var(--in-content-text-color) !important;
    }
    #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected), #placesList>treechildren::-moz-tree-row(selected) {
        -moz-appearance: none !important;
        -moz-font-smoothing-background-color: none !important;
        border-top: none !important;
         background:dodgerblue !important; /*var(--theme-selection-background) !important;*/
        color: var(--in-content-text-color) !important;
    }
    #placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected), #placesList>treechildren::-moz-tree-cell-text(selected) {
        color: var(--in-content-text-color) !important;
    }
    #places treechildren::-moz-tree-row {
        background-color: transparent !important;
    }
    #places treechildren::-moz-tree-image {
        fill: var(--in-content-page-color) !important;
    }
    #places treechildren::-moz-tree-image(selected) {
        fill: var(--selected-icon-fill-color) !important;
    }
    #placeContent>treechildren::-moz-tree-cell, #placeContent>treechildren::-moz-tree-column {
        border-color: var(--in-content-box-border-color) !important;
    }
    #contentView treecol {
        -moz-appearance: none !important;
        border: none !important;
        background: var(--in-content-category-header-background) !important;
        color: var(--in-content-text-color) !important;
        border-right: 1px solid !important;
        border-color: var(--in-content-box-border-color) !important;
    } 
tree {
        background-color: var(--in-content-box-background) !important;
    }
    #editBMPanel_tagsSelectorExpander.expander-down {
        -moz-appearance: -moz-mac-disclosure-button-closed !important;
        filter: invert(79%) !important;
    }
    #editBMPanel_tagsSelectorExpander.expander-up {
        -moz-appearance: -moz-mac-disclosure-button-open !important;
        filter: invert(79%) !important;
    }
    #main-menubar {
        background-color: var(--in-content-category-header-background) !important;
    }
    #main-menubar>* {
        color: var(--in-content-page-color) !important;
    }
    #main-menubar> :hover, menubar>menu[_moz-menuactive=true][open=true] {
        -moz-appearance: none !important;
        background: var(--in-content-page-background) !important;
    }
    @media screen and (-moz-windows-theme), screen and (-moz-windows-classic), screen and (-moz-windows-default-theme), screen and (-moz-os-version:windows-win7), screen and (-moz-os-version:windows-win8), screen and (-moz-os-version:windows-win10) {
        #metaTagsCaption, #security-identity, #security-identity-groupbox, #security-privacy, #security-privacy-groupbox, #security-technical, #security-technical-groupbox {
            -moz-appearance: none !important;
            background-color: var(--in-content-page-background) !important;
            border: none !important;
            color: var(--in-content-selected-text) !important;
        }
        #placesMenu>menu {
            color: var(--in-content-page-color) !important;
        }
        #security-identity-groupbox, #security-privacy-groupbox, #security-technical-groupbox {
            -moz-appearance: none !important;
            background-color: var(--in-content-category-header-background) !important;
        }
        #places treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover):not(.autocomplete-treebody)::-moz-tree-cell-text(selected) {
            background: 0 0 !important;
            -moz-border-top-colors: transparent !important;
            -moz-border-right-colors: transparent !important;
            -moz-border-left-colors: transparent !important;
            -moz-border-bottom-colors: transparent !important;
        }
    }
    @media screen and (-moz-os-version:windows-win7) {
        treechildren {
            --treechildren-outline: none !important;
        }
    }
}    
}
/*-----------Darkmode library Window End -----------*/

/*-----------fixes Photon-Australis tab middle color overhang -----------*/
:root {
 --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
 --tab-min-height: 33px !important;
}
/*-----------Photon-Australis color height fix End -----------*/

/*-----------Photon-Australis DArk color-----------*/
@media (prefers-color-scheme: Dark) {
:root {
  --tab-curve-width: 30px;
  --tabs-border: transparent !important;
  --tab-border-radius: 0 !important;
}

.tabbrowser-arrowscrollbox .arrowscrollbox-scrollbox {
  padding-inline-start: 10px !important;
}

/* To be able to see the top border of the tab */
.tab-stack {
  margin-top: 2px !important;
}

/* To prevent tab label appearing on pinned tab in compact mode. */
.tab-content {
  padding: 0 12px !important;
}

/* When the window is maximized, the first pinned tab is properly displayed. */
#TabsToolbar  {
  padding-inline-start: 15px !important;
  min-height: 33px !important;
  max-height: 33px !important;
}

.tabbrowser-tab[first-visible-tab="true"] {
  padding-left: 12px !important;
}

#tabbrowser-tabs {
  margin-left: -15px !important;
}

.titlebar-placeholder {
  border: none !important;
}

.titlebar-spacer {
  border: none !important;
}

/* Styles to account for when tab scrollbar is visible, and margin-inline-start kicks in */
.tabbrowser-tab[pinned="true"] {
  width: 40px !important; /* Actual photon pinned tab is 41px, but 40px removes pixelated artifact from pinned tab favicon */
}

.tabbrowser-tab[pinned="true"][style^="margin-inline-start"] {
  padding-left: 12px !important;
}

/* Remove unneeded styles from Photon */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  border: none !important;
}

/* Remove uneeded styles from Proton */
.tabbrowser-tab {
  padding-inline: 0px !important;
}

.tab-background {
  margin-bottom: 0 !important;
  display: flex !important;
}

.tab-background > .tab-context-line {
  flex: 1 !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

/* Remove container colors */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  background-color: rgba(0,0,0,0) !important;
  height: inherit !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

/* Windows 7 specific */
@media (-moz-os-version: windows-win7) {
  .tabbrowser-tab {
    background-color: transparent !important;
    border: none !important;
  }

  @media (-moz-windows-default-theme) {
    .tabbrowser-tab:not(:-moz-lwtheme) {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

.tabbrowser-tab > .tab-stack > .tab-background {
  background-image: none !important;
  -moz-box-orient: horizontal !important;
  background-color: transparent !important;
  margin-top: 1px !important;
}

.tab-background[selected="true"] {
  border: none !important;
}

.tab-background {
  pointer-events: none !important;
}

.tab-line {
  display: none !important;
}

.tab-bottom-line {
  display: none !important;
}

/* Match height of new tab button (right svg) on hover */
#new-tab-button {
  margin: 0 !important;
}

/* overlap the tab curves */
.tab-background {
  -moz-margin-end: -15px !important;
  -moz-margin-start: -15px !important;
}

/* Remove blue animation on tab on page load complete */
.tab-loading-burst {
  display: none !important;
}

/* Begin tab background customizations */
.tab-background[selected="true"]::before {
  border: none !important;
  content: "" !important;
  width: 30px !important;
  min-height: 30px !important;
  display: -moz-box !important;
  background-repeat: no-repeat !important;
}

.tab-background[selected="true"]::after {
  border: none !important;
  content: "" !important;
  width: 30px !important;
  min-height: 30px !important;
  display: -moz-box !important;
  background-repeat: no-repeat !important;
}

.tab-background[selected="true"] > spacer {
  margin-top: 0px !important;
}

#tabs-newtab-button,
#new-tab-button {
  width: calc(36px + 30px) !important;
  margin-inline-start: -15px !important;
  margin-top: 1px !important;
}

/* Tab hover customizations */
.close-icon:hover {
  border-radius: 50% !important;
}

/* Regular tabs */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::before {
  display: -moz-box !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  width: 30px !important;
  max-height: 30px !important;
  background-color: transparent !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::after {
  display: -moz-box !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  width: 30px !important;
  max-height: 30px !important;
  background-color: transparent !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) > spacer {
  margin-top: 0px !important;
}

#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]),
#tabs-newtab-button:hover,
#tabs-newtab-button:hover::before,
#tabs-newtab-button:hover::after {
  background-color: transparent !important;
}

/* New tab hover customizations */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]),
#tabs-newtab-button:hover {
  background-position: 0px 2px, 30px 4px , 36px 2px !important;
  background-repeat: no-repeat !important;
  background-size: 30px 30px, calc(100% - (2 * 30px)) 30px, 30px !important;
}

#tabs-newtab-button:hover > .toolbarbutton-icon {
  background: none !important;
  background-color: transparent !important;
}

/* Color specific customizations */
:root {
  --svg-selected-before: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgb(43, 42, 51);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --svg-selected-after: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgb(43, 42, 51);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --background-selected-middle:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    linear-gradient(
      transparent
      2px,
      rgb(42, 43, 51) 2px,
      rgb(42, 43, 51)
    ),
    none !important;

  --svg-hover-before: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgba(255, 255, 255, .1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --svg-hover-after: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgba(255, 255, 255,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --background-hover-middle:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    linear-gradient(
      transparent
      2px,
      rgba(255,255,255,.1) 2px,
      rgba(255,255,255,.1)
    ),
    none;

  --newtab-hover: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='30px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgba(255,255,255,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>"),
    linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgba(255,255,255,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");
}


/* OS-specific color variables */
@media screen and (-moz-windows-theme) {
  :root {

  }
}

@media not screen and (-moz-windows-theme) {
  :root {

  }
}

/* Dark theme */
@media (-moz-windows-accent-color-in-titlebar) {
  :root[tabsintitlebar]:not(:-moz-window-inactive) {
    background-color: #000000 !important;
  }
}


.tab-background[selected="true"]::before {
  background-image: var(--svg-selected-before) !important;
}
.tab-background[selected="true"]::after {
  background-image: var(--svg-selected-after) !important;
}

.tab-background[selected="true"] > .tab-context-line {
  background-image: var(--background-selected-middle) !important;
}

.tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-background {
  box-shadow: none !important;    
}


.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::before {
  background-image: var(--svg-hover-before) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::after {
  background-image: var(--svg-hover-after) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) > .tab-context-line {
  background-image: var(--background-hover-middle) !important;
}

#tabs-newtab-button:hover {
  background-image: var(--newtab-hover) !important;
}




}

/*-----------Photon-Australis Light color-----------*/
@media (prefers-color-scheme: Light) {
    :root {
  --tab-curve-width: 30px;
  --tabs-border: transparent !important;
  --tab-border-radius: 0 !important;
}



#navigator-toolbox:-moz-lwtheme {
  --tabs-border-color: rgba(0,0,0,0) !important;
}

.tabbrowser-arrowscrollbox .arrowscrollbox-scrollbox {
  padding-inline-start: 10px !important;
}

/* To be able to see the top border of the tab */
.tab-stack {
  margin-top: 2px !important;
}

/* To prevent tab label appearing on pinned tab in compact mode. */
.tab-content {
  padding: 0 12px !important;
}

/* When the window is maximized, the first pinned tab is properly displayed. */
#TabsToolbar  {
  padding-inline-start: 15px !important;
  min-height: 33px !important;
  max-height: 33px !important;
}

.tabbrowser-tab[first-visible-tab="true"] {
  padding-left: 12px !important;
}

#tabbrowser-tabs {
  margin-left: -15px !important;
}

.titlebar-placeholder {
  border: none !important;
}

.titlebar-spacer {
  border: none !important;
}

/* Styles to account for when tab scrollbar is visible, and margin-inline-start kicks in */
.tabbrowser-tab[pinned="true"] {
  width: 40px !important; /* Actual photon pinned tab is 41px, but 40px removes pixelated artifact from pinned tab favicon */
}

.tabbrowser-tab[pinned="true"][style^="margin-inline-start"] {
  padding-left: 12px !important;
}

/* Remove unneeded styles from Photon */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  border: none !important;
}

/* Remove uneeded styles from Proton */
.tabbrowser-tab {
  padding-inline: 0px !important;
}

.tab-background {
  margin-bottom: 0 !important;
  display: flex !important;
}

.tab-background > .tab-context-line {
  flex: 1 !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

/* Remove container colors */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  background-color: rgba(0,0,0,0) !important;
  height: inherit !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

/* Windows 7 specific */
@media (-moz-os-version: windows-win7) {
  .tabbrowser-tab {
    background-color: transparent !important;
    border: none !important;
  }

  @media (-moz-windows-default-theme) {
    .tabbrowser-tab:not(:-moz-lwtheme) {
      background-color: transparent !important;
      border: none !important;
    }
  }
}

.tabbrowser-tab > .tab-stack > .tab-background {
  background-image: none !important;
  -moz-box-orient: horizontal !important;
  background-color: transparent !important;
  margin-top: 1px !important;
}

.tab-background[selected="true"] {
  border: none !important;
}

.tab-background {
  pointer-events: none !important;
}

.tab-line {
  display: none !important;
}

.tab-bottom-line {
  display: none !important;
}

/* Match height of new tab button (right svg) on hover */
#tabs-newtab-button {
  margin: 0 !important;
}

/* overlap the tab curves */
.tab-background {
  -moz-margin-end: -15px !important;
  -moz-margin-start: -15px !important;
}

/* Remove blue animation on tab on page load complete */
.tab-loading-burst {
  display: none !important;
}

/* Begin tab background customizations */
.tab-background[selected="true"]::before {
  border: none !important;
  content: "" !important;
  width: 30px !important;
  min-height: 30px !important;
  display: -moz-box !important;
  background-repeat: no-repeat !important;
}

.tab-background[selected="true"]::after {
  border: none !important;
  content: "" !important;
  width: 30px !important;
  min-height: 30px !important;
  display: -moz-box !important;
  background-repeat: no-repeat !important;
}

.tab-background[selected="true"] > spacer {
  margin-top: 0px !important;
}

#new-tab-button,
#tabs-newtab-button {
  width: calc(36px + 30px) !important;
  margin-inline-start: -15px !important;
  margin-top: 1px !important;
}

/* Tab hover customizations */
.close-icon:hover {
  border-radius: 50% !important;
}

/* Regular tabs */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::before {
  display: -moz-box !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  width: 30px !important;
  max-height: 30px !important;
  background-color: transparent !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::after {
  display: -moz-box !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  width: 30px !important;
  max-height: 30px !important;
  background-color: transparent !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) > spacer {
  margin-top: 0px !important;
}

#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]),
#tabs-newtab-button:hover,
#tabs-newtab-button:hover::before,
#tabs-newtab-button:hover::after {
  background-color: transparent !important;
}

/* New tab hover customizations */
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]), #tabs-newtab-button:hover {
  background-position: 0px 2px, 30px 4px , 36px 2px !important;
  background-repeat: no-repeat !important;
  background-size: 30px 30px, calc(100% - (2 * 30px)) 30px, 30px !important;
}

#tabs-newtab-button:hover > .toolbarbutton-icon {
  background: none !important;
  background-color: transparent !important;
}

/* Color specific customizations */
:root {
  --svg-selected-before: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='30px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='30' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgba(0,0,0, .1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --svg-selected-after: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgba(0,0,0,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --background-selected-middle:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    linear-gradient(
      transparent
      2px,
      rgba(0,0,0,.1) 2px,
      rgba(0,0,0,.1)
    ),
    none;

  --svg-hover-before: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='30px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='30' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgba(0,0,0, .1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --svg-hover-after: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgba(0,0,0,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");

  --background-hover-middle:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
    linear-gradient(
      transparent
      2px,
      rgba(0,0,0,.1) 2px,
      rgba(0,0,0,.1)
    ),
    none !important;

  --newtab-hover: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='31px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-start)'><div id='tab-background-fill' style='background-color:rgba(0,0,0,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>"),
    linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' width='30px' height='30px' preserveAspectRatio='none'><defs><svg:clipPath id='tab-curve-clip-path-start' clipPathUnits='objectBoundingBox'><svg:path d='m 1,0.065 0.05,0 0,0.938 -1,0 0,-0.028 C 0.32082458,0.95840561 0.4353096,0.81970962 0.48499998,0.5625 0.51819998,0.3905 0.535,0.0659 1,0.065 z'/></svg:clipPath><svg:clipPath id='tab-curve-clip-path-end' clipPathUnits='objectBoundingBox'><svg:path d='m 0,0.065 -0.05,0 0,0.938 1,0 0,-0.028 C 0.67917542,0.95840561 0.56569036,0.81970962 0.51599998,0.5625 0.48279998,0.3905 0.465,0.0659 0,0.065 z'/></svg:clipPath><svg:clipPath id='tab-hover-clip-path' clipPathUnits='objectBoundingBox'><svg:path d='M 0,0.2 0,1 1,1, 1,0.2 z'/></svg:clipPath></defs><foreignObject width='30' height='31' clip-path='url(%23tab-curve-clip-path-end)'><div id='tab-background-fill' style='background-color:rgba(0,0,0,.1);background-repeat:no-repeat;height:100%;width:100%;' xmlns='http://www.w3.org/1999/xhtml'></div></foreignObject></svg>");
}


/* OS-specific color variables */
@media screen and (-moz-windows-theme) {
  :root {

  }
}

@media not screen and (-moz-windows-theme) {
  :root {

  }
}

.tab-background[selected="true"]::before {
  background-image: var(--svg-selected-before) !important;
}

.tab-background[selected="true"]::after {
  background-image: var(--svg-selected-after) !important;
}

.tab-background[selected="true"] > .tab-context-line {
 background-image: var(--background-selected-middle) !important;
}

.tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-background {
  box-shadow: none !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::before {
  background-image: var(--svg-hover-before) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true])::after {
  background-image: var(--svg-hover-after) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) > .tab-context-line {
  background-image: var(--background-hover-middle) !important;

}

#tabs-newtab-button:hover {
  background-image: var(--newtab-hover) !important;
}
}
